.container__search {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container__search-input {
  width: 400px;
  height: 40px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  /* text-align: center; */
  padding-left: 30px;
}

.container__search-click {
  font-size: 25px;
  text-align: center;
  vertical-align: middle;
  margin-left: 10px;
  cursor: pointer;
}
